{% macro digitalmarketplaceQuestionMultiquestion(params) %}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset -%}
{%- from "digitalmarketplace_frontend_jinja/components/question/macro.html" import digitalmarketplaceQuestion -%}

{% if params.question.questions -%}
  {% call govukFieldset({
    "legend": {
      "text": params.question.question,
      "classes": 'govuk-fieldset__legend--m'
    }
  }) %}
    {% for question in params.question.questions %}
      {{ digitalmarketplaceQuestion({
        "type": question.type,
        "question": question,
        "data": params.data,
        "errors": params.errors,
        "frameworkReusedFrom": params.frameworkReusedFrom
      }) }}
    {% endfor %}
  {% endcall %}
{%- endif %}
{% endmacro %}
