{% macro digitalmarketplaceQuestion(params) %}
{%- from "digitalmarketplace_frontend_jinja/components/question-text/macro.html" import digitalmarketplaceQuestionText -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-pricing/macro.html" import digitalmarketplaceQuestionPricing -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-upload/macro.html" import digitalmarketplaceQuestionUpload -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-number/macro.html" import digitalmarketplaceQuestionNumber -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-character-count/macro.html" import digitalmarketplaceQuestionCharacterCount -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-date/macro.html" import digitalmarketplaceQuestionDate -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-radios/macro.html" import digitalmarketplaceQuestionRadios -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-boolean/macro.html" import digitalmarketplaceQuestionBoolean -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-checkboxes/macro.html" import digitalmarketplaceQuestionCheckboxes -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-checkbox-tree/macro.html" import digitalmarketplaceQuestionCheckboxTree -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-list/macro.html" import digitalmarketplaceQuestionList -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-select/macro.html" import digitalmarketplaceQuestionSelect -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-multiquestion/macro.html" import digitalmarketplaceQuestionMultiquestion -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-list-multiquestion/macro.html" import digitalmarketplaceQuestionListMultiquestion -%}
{%- from "digitalmarketplace_frontend_jinja/components/question-list-multiquestion-server-side/macro.html" import digitalmarketplaceQuestionListMultiquestionServerSide -%}

<div
  class="question {% if params.question.hidden %}js-hidden dm-question__related-information" aria-hidden="false{% endif %}"
  id="{{ params.question.id }}"
  {% if params.question.followup %}data-module="dm-question"{% endif %}
  {% if params.question.hidden %}hidden{% endif %}
>
  {% if params.type == 'text' %}
    {{ digitalmarketplaceQuestionText(params) }}
  {% elif params.type == 'pricing' %}
    {{ digitalmarketplaceQuestionPricing(params) }}
  {% elif params.type == 'upload' %}
    {{ digitalmarketplaceQuestionUpload(params) }}
  {% elif params.type == 'number' %}
    {{ digitalmarketplaceQuestionNumber(params) }}
  {% elif params.type == 'textbox_large' %}
    {{ digitalmarketplaceQuestionCharacterCount(params) }}
  {% elif params.type == 'date' %}
    {{ digitalmarketplaceQuestionDate(params) }}
  {% elif params.type == 'radios' %}
    {{ digitalmarketplaceQuestionRadios(params) }}
  {% elif params.type == 'boolean' %}
    {{ digitalmarketplaceQuestionBoolean(params) }}
  {% elif params.type == 'checkboxes' %}
    {{ digitalmarketplaceQuestionCheckboxes(params) }}
  {% elif params.type == 'checkbox_tree' %}
    {{ digitalmarketplaceQuestionCheckboxTree(params) }}
  {% elif params.type == 'list' %}
    {{ digitalmarketplaceQuestionList(params) }}
  {% elif params.type == 'select' %}
    {{ digitalmarketplaceQuestionSelect(params) }}
  {% elif params.type == 'multiquestion' %}
    {{ digitalmarketplaceQuestionMultiquestion(params) }}
  {% elif params.type == 'list_multiquestion' %}
    {{ digitalmarketplaceQuestionListMultiquestion(params) }}
  {% elif params.type == 'list_multiquestion_server_side' %}
    {{ digitalmarketplaceQuestionListMultiquestionServerSide(params) }}
  {% endif %}
</div>

{% endmacro %}
