{% macro digitalmarketplaceNewFrameworkBanner(params) %}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}

{% set html %}
  <p class="govuk-notification-banner__heading">
    G-Cloud 13 has been extended to 8 November 2024.
    You can find out more information by going to <a class="govuk-notification-banner__link" href="https://www.crowncommercial.gov.uk/news/g-cloud-13-framework-extension">G-Cloud 13 framework extension</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  "titleText": 'Important supplier information',
  "html": html
}) }}
{% endmacro %}
