{% macro digitalmarketplaceInputFromForm(params) %}
{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}

{% set name = params.form.name %}

{% if "label" not in params %}
  {% set _ = params.__setitem__("label", {}) %}
{% endif %}
{% set _ = params.label.__setitem__("text", params.form.question) %}
{% if "classes" not in params.label %}
  {% set _ = params.label.__setitem__("classes", "govuk-label--m") %}
{% endif %}

{% set _ = params.__setitem__("name", name) %}
{% set _ = params.__setitem__("id", "input-" + name) %}

{% set _ = params.__setitem__("value", params.form.data) if params.form.data %}
{% set _ = params.__setitem__("hint", { "text": params.form.hint }) if params.form.hint and "hint" not in params %}
{% set _ = params.__setitem__("errorMessage", { "text": params.form.errors[0] }) if params.form.errors %}

{{ govukInput(params) }}
{% endmacro %}
