{% macro digitalmarketplaceSummaryContentRadios(params) %}
{%- from "digitalmarketplace_frontend_jinja/components/summary-content-text/macro.html" import digitalmarketplaceSummaryContentText -%}
{%- from "digitalmarketplace_frontend_jinja/components/summary-content-list/macro.html" import digitalmarketplaceSummaryContentList -%}

{% if params.value is string %}
  {{ digitalmarketplaceSummaryContentText({
    "value": params.value
  }) }}
{% else %}
  {{ digitalmarketplaceSummaryContentList({
    "value": params.value
  }) }}
{% endif %}
{% endmacro %}
