{% macro digitalmarketplaceSelectCountryFromForm(params) %}
{%- from 'digitalmarketplace_frontend_jinja/components/select/macro.html' import govukSelect -%}

{% set name = params.form.name %}

{% set countries = [] %}
{% if not params.form.data %}
  {% set _countries = countries.append({"value": "", "text": "", "selected": not params.form.data }) %}
{% endif %}

{% for country in params.countries %}
  {% set _countries = countries.append({"value": country[1], "text": country[0], "selected": params.form.data == country[1] }) %}
{% endfor %}

{% set _ = params.__setitem__("label", { "text": "Country", "classes": "govuk-label--m" }) %}
{% set _ = params.__setitem__("name", name) %}
{% set _ = params.__setitem__("id", "input-" + name) %}
{% set _ = params.__setitem__("classes", "dm-select-country govuk-input--width-10") %}
{% set _ = params.__setitem__("attributes", { "data-module": "dm-select-country" }) %}
{% set _ = params.__setitem__("items", countries) %}

{% set _ = params.__setitem__("errorMessage", { "text": params.form.errors[0] }) if params.form.errors %}

{{ govukSelect(params) }}
{% endmacro %}
