{% macro digitalmarketplaceRadiosFromForm(params) %}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% set name = params.form.name %}
{% set items = params['items'] if 'items' in params else [] %}


{% if 'items' not in params %}
  {% for option in params.form.options %}
    {% set item = {
      "value": option["value"],
      "text": option["label"]
    } %}

    {% if params.form.data == option["value"] %}
      {% set _ = item.__setitem__("checked", true) %}
    {% endif %}

    {% if "description" in option %}
      {% set _ = item.__setitem__("hint", { 'text': option["description"] }) %}
    {% endif %}

    {% for attribute in ["id", "divider", "conditional", "disabled", "attributes"] %}
      {% set _ = item.__setitem__(attribute, option[attribute]) if attribute in option %}
    {% endfor %}

    {% set _ = items.append(item) %}
  {% endfor %}

  {% set _ = params.__setitem__("items", items) %}
{% endif %}

{% if "fieldset" not in params %}
  {% set _ = params.__setitem__("fieldset", {}) %}
{% endif %}
{% if "legend" not in params.fieldset %}
  {% set _ = params.fieldset.__setitem__("legend", {}) %}
{% endif %}
{% set _ = params.fieldset.legend.__setitem__("text", params.form.question) %}
{% if not params.fieldset.legend.classes %}
  {% set _ = params.fieldset.legend.__setitem__("classes", "govuk-fieldset__legend--m") %}
{% endif %}

{% set _ = params.__setitem__("name", name) %}
{% set _ = params.__setitem__("idPrefix", "input-" + name) %}

{% set _ = params.__setitem__("hint", { "text": params.form.hint }) if params.form.hint and "hint" not in params %}
{% set _ = params.__setitem__("errorMessage", { "text": params.form.errors[0] }) if params.form.errors %}

{{ govukRadios(params) }}
{% endmacro %}
