{% macro digitalmarketplaceSummaryContentBoolean(params) %}
{%- from "digitalmarketplace_frontend_jinja/components/summary-content-text/macro.html" import digitalmarketplaceSummaryContentText -%}

{% if params.value == true %}
  {{ digitalmarketplaceSummaryContentText({
    "value": "Yes"
  }) }}
{% elif params.value == false %}
  {{ digitalmarketplaceSummaryContentText({
    "value": "No"
  }) }}
{% else %}
  {{ digitalmarketplaceSummaryContentText({
    "value": params.value
  }) }}
{% endif %}
{% endmacro %}
